.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
.sub-title {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.lesson__head {
  text-align: center;
  height: 300px;
  background-color: cadetblue;
}

.lesson__head::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.box {
  display: inline-block;
  vertical-align: middle;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
}

.block {
  
  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 20px solid #ece89d;
    margin: 0 0 20px 0;
  }
  &__column {
    border: 20px solid #5e5373;
    &_1 {
      flex-grow: 1;
      flex-shrink: 5;
    }
    &_2 {
      flex-grow: 1;
      flex-shrink: 2;
    }
  }
  &__item {
    background-color: #18b5a4;
    padding: 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
}

.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}